openapi: 3.0.1
info:
  title: Integration Mapper API
  version: 1.0.0
  description: >
    The OpenAPI specification for this project is generated at runtime given the Code-First approach.
    
    Please run the Backend API and visit:
    http://localhost:5000/scalar/v1
    
    or
    
    http://localhost:5000/swagger/index.html (if configured)
servers:
  - url: http://localhost:5000
    description: Local Development Server
